.container
  .font-sans.p-4.text-center
    .mt-5
      = render 'search_form'
    .mt-5
      = render template: 'vehicles/search'
    .mt-10
      = render 'import_form'
    .mt-5
      = render template: 'vehicles/import'
    .mt-10
      = render 'export_form'
    .mt-5
      = render template: 'vehicles/export'