<!DOCTYPE html>
<html>
  <head>
    <title>Beema</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <nav id="header" class="fixed w-full z-10 top-5">
      <div class="text-center justify-between py-3">
        <h1 class="text-gray-900 text-base font-bold text-3xl">
          Beema
        </h1>
      </div>
    </nav>
    <main class="container w-full md:max-w-7xl mx-auto pt-20 mt-5">
      <%= yield %>
    </main>
  </body>